<style id="jsbin-css">

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

hr{
	border-color: #000;
	margin: 20px 0px;
}
.oscuro hr {
    border-color: #fff;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.5;
	margin: 0 0 0em 0;
	text-transform: uppercase;
	letter-spacing: 0.375rem;
	text-align: center;
    color: black;

	}
ra{
   font-weight: 400;
	line-height: 1.5;
	margin: 0 0 0em 0;
	text-transform: uppercase;
	letter-spacing: 0.375rem;
	text-align: center;
    color: yellow; 
    
}

tit{
   font-weight: 400;
	line-height: 1.5;
	margin: 0 0 0em 0;
	text-transform: uppercase;
	letter-spacing: 0.375rem;
	text-align: center;
    color: whitesmoke; 
    
}
rr{
    
  font-weight: 400;
	line-height: 1.5;
	margin: 0 0 0em 0;
	text-transform: uppercase;
	letter-spacing: 0.375rem;
	text-align: center;
    color: red;  
    
}
a{      
	color: #404040;
    text-decoration: none;
	text-align: center;
	margin: 0 auto;
}
button {
    background-color: #2274bd;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

p{      
	color: #000000;
    text-decoration: none;
	margin: 0 auto;
}
.oscuro p{      
	color: #fff;
    text-decoration: none;
	text-align: center;
	margin: 0 auto;
}

body{
	background:#F2F2F2;
}

header img{
width:150px;
}

.main{
	width:90%;
	max-width:1000px;
	margin:20px auto;
}

header nav {
	background:#0B615E;
	overflow:hidden;
}
header nav ul {
	list-style:none;
}
header nav ul  li{
	float:left;
}
header nav ul  li a{
	padding:10px 20px;
	display:block;
	color:#FFFFFF;
	text-decoration:none;
}
header nav ul  li a:hover{
	background:#1C1C1C;
}

.main .articles {
	width:68%;
	margin-right:2%;
	float:left;
}	
.main .articles article{
	padding:20px;
	background:#FFFFFF;
	margin-bottom:20px;
}

aside{
	width:30%;
	background:#848484;
	float:left; 
	padding:20px;
	box-sizing:border-box;
}
aside img{
  width:150px;
}
footer {
	background: #2b3e39;
    color: #FFFFFF;
    clear: both;
    width: 100%;
    padding: 11px;
    text-align: center;
}


div#general{
  float: none;
  width:900px;
  height:auto;
  padding:none;
  margin:0 auto;
    
}
div#quienes{
    	float: none;
		width: 100%;
		margin: 0 auto;
		padding: 80px 0px;
		background-color: #171f23;
		color: #fff;
		margin: auto;
		text-align: center;

}


div#productos{
		width: 100%;
		margin: 0 auto;
		padding: 80px 0px;
		    background-color: #74ccd5;
		text-align: center;

}

div#compa{
		width: 100%;
		margin: 0 auto;
		color: #fff;
		    padding: 160px 0px;
		    background-color: #266f75;
		text-align: center;
}

div#galeria{
		width: 100%;
		margin: 0 auto;
		padding: 80px 0px;
		    background-color: #fdb85b;
		text-align: center;
}
div#respon{
		width: 100%;
		margin: 0 auto;
		padding: 90px 0px;
		    background-color: #fdb85b;
		text-align: center;
}


div#valor{
		width: 100%;
		margin: 0 auto;
		padding: 80px 0px;
		color: #fff;
		background-color: #03796e;
		text-align: center;
}


div#contacto{
		width: 100%;
		margin: 0 auto;
		padding: 80px 0px;
		background-color: #74ccd5;

		text-align: center;
}



div#promo{
		width: 100%;
		margin: 0 auto;
		padding: 80px 0px;
		background-color: #e6e378;

}

div#top{
  float: none;
  width:900px;
  height:1700px;
  padding:2em 8em 2em 4em;
  background-color:#f4f4f4;
  margin:0 auto;
}
.form{
width:100%;
padding:0px;
margin:0 auto;
text-align:left;
}

input[type=text],[type=email]{
 width: 100%;
 padding: 5px;
height:35px;
font-family: 'Roboto Condensed', sans-serif;
font-size: 14px;
}
textarea{
 width: 100%;
  padding: 5px;
height:110px;
font-family: 'Roboto Condensed', sans-serif;
font-size: 14px;
}

input[type=submit]{
    position: relative;
    width: 100%;
    padding: 10px;
    border-radius: 0px;
    font-size: 18px;
    border: 0px;
    color: #fff;
    background-color: #03786d;
}
input[type=submit]:hover{
        background-color: #133834;
}
label{
    font-size: 16px;
    color: #020202;
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-top: 6px;
    display: inline-block;
}


/* personalizado */


body{
	font-family: 'Roboto Condensed', sans-serif;
	padding: 0px;
	margin: 0px;
	padding-top: 65px;
}
header{
	padding: 0px;
	margin: 0px;
	    top: 0px;
	width: 100%;
	position: fixed;
}
.division{
	    display: inline-block;
    width: 100%;
}
.tam50{
	    width: 50%;
    margin: 0px;
    float: left;
    display: block;
    padding: 10px;
    box-sizing: border-box;
}
.logotipo{
	float: left;
    padding-left: 45px;
}
.circuloimg{
	border-radius: 100%;
	width: 350px;
	height: 350px;
	    background: #fff;
	    margin: auto;
	    overflow: hidden;
}
.circuloimg img{
	padding-top: 50px;
}
#menu{
	    padding: 0px;
    
    margin: 0px;
    width: 100%;
    background-color: #2274bd;
    height: 65px;
}
#menu ul{
     display: inline;
    float: right;
    margin: 0px;
}
#menu ul li{
 display: inline;
}

div#menu ul a{
  
    font-size: 16px;
    text-decoration: none;
    float: left;
        padding: 23px 12px;
    background-color: #2175bc;
    color: #fff;
}

div#menu ul a:hover{
	    background-color: #154873;
}
#imgSuperior{
	    margin: 0px;
    padding: 0px;
    max-height: 450px;
    overflow: hidden;
}
#imgSuperior img{
	width: 100%;
}
.contenido{
	max-width: 900px;
	margin: auto;

}
#back{
	    position: fixed;
    right: 0px;
    bottom: 20px;
    padding: 20px;
    background: #fff;
}

#cookieMessage

element {
}
.cookieMessage {
    height: 90px;
    bottom: -90px;
}
.cookieMessage {
    height: auto;
    top: 0;
    width: 100%;
    margin: 0 auto;
    padding: 10px 50px 10px 10px;
    clear: both;
    color: #fff;
    position: fixed;
    left: 0;
    background-color: rgba(0,0,0,0.75);
    z-index: 999999999;
}
*, body {
    color: #636363;
    font-family: 'omnes_regularregular';
}
* {
    box-sizing: border-box;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}
html {
    font-size: 10px;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
}


#cookieClose {
    position: absolute;
    top: 0;
    color: #CFCFCF;
    right: 10px;
    font-size: 25px;
    width: 25px;
    text-align: center;
}
bootswatch.less:11
a {
    color: #ff7900;
    font-family: 'omnessemibold';
}
scaffolding.less:49
a {
    color: #337ab7;
    text-decoration: none;
}
normalize.less:90
a {
    background-color: transparent;
}
bootswatch.less:2
*, body {
    color: #636363;
    font-family: 'omnes_regularregular';
}
vendor-prefixes.less:77
* {
    box-sizing: border-box;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: auto;
    text-decoration: underline;
}
Inherited from div#cookieMessage.cookieMessage
bootswatch.less:2351
.cookieMessage {
    height: auto;
    top: 0;
    width: 100%;
    margin: 0 auto;
    padding: 10px 50px 10px 10px;
    clear: both;
    color: #fff;
    position: fixed;
    left: 0;
    background-color: rgba(0,0,0,0.75);
    z-index: 999999999;
}
bootswatch.less:2
*, body {
    color: #636363;
    font-family: 'omnes_regularregular';
}
Inherited from div#mm-0.wrapper.mm-page.mm-slideout
bootswatch.less:2
*, body {
    color: #636363;
    font-family: 'omnes_regularregular';
}
Inherited from body.home
bootswatch.less:2
*, body {
    color: #636363;
    font-family: 'omnes_regularregular';
}
scaffolding.less:28
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
Inherited from html
scaffolding.less:23
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
normalize.less:10
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
bootswatch.less:2
*, body {
    color: #636363;
    font-family: 'omnes_regularregular';
}
Pseudo ::before element
vendor-prefixes.less:77
*:before, *:after {
    box-sizing: border-box;
}
Pseudo ::after element
vendor-prefixes.less:77
*:before, *:after {
    box-sizing: border-box;
}
position0
759margin‒
‒border‒
‒padding‒
‒25 × 35‒
‒‒
‒‒
‒10
55

Filter

Show all
background-color:
rgba(0, 0, 0, 0)
;
box-sizing:
border-box
;
color:
rgb(207, 207, 207)
;
cursor:
auto
;
display:
block
;
font-family:
omnessemibold


cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

avatar {
    width: 70px;
    border-radius: 80%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}