*{
	margin:0;
	padding:0;
}

body{
	background:#F2F2F2;
}

header .cabecera{
	height: 600px;
	background: url("../imagenes/logo.jpg"),url("../imagenes/movil.png"),url("../imagenes/fondo_bici.jpg");
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-size: 150px, 200px, 100%;
	background-position: 100px 150px, 750px 30px, 0px -30px;
}

header, .main, footer{
	width:90%;
	max-width:1000px;
	margin:20px auto;
}

header nav {
	background:#0B615E;
	overflow:hidden;
}
header nav ul {
	list-style:none;
}
header nav ul  li{
	float:left;
}
header nav ul  li.activo{
	background:#47af3a;
}
header nav ul  li a{
	padding:10px 20px;
	display:block;
	color:#FFFFFF;
	text-decoration:none;
}
header nav ul  li a:hover{
	background:#1C1C1C;
}

.main .articles {
	width:68%;
	margin-right:2%;
	float:left;
}	
.main .articles article{
	padding:20px;
	background:#FFFFFF;
	margin-bottom:20px;
}

aside{
	width:30%;
	background:#848484;
	float:left; 
	padding:20px;
	box-sizing:border-box;
}
aside img{
  width:150px;
}
footer{
	background:#000000;
	color:#FFFFFF;
	clear:both;
	padding:10px 0px;
	text-align:center;
}
