*{
	margin:0;
	padding:0;
}

body{
	background:#F2F2F2;
}

header img{
border: 4px solid grey;
margin: 1;
padding: 0;
border-radius: 900px;
overflow: hidden;
width:150px;
}

header, .main, footer{
	width:90%;
	max-width:1000px;
	margin:20px auto;
}

header nav {
	background:#0B615E;
	overflow:hidden;
}
header nav ul {
	list-style:none;
}
header nav ul  li{
	float:left;
}
header nav ul  li a{
	padding:10px 20px;
	display:block;
	color:#FFFFFF;
	text-decoration:none;
}
header nav ul  li a:hover{
	background:#1C1C1C;
}

.main .articles {
	width:68%;
	margin-right:2%;
	float:left;
}	
.main .articles article{
	padding:20px;
	background:#FFFFFF;
	margin-bottom:20px;
}

aside{
	width:30%;
	background:#848484;
	float:left; 
	padding:20px;
	box-sizing:border-box;
}
aside img{
  width:150px;
}
footer{
	background:#000000;
	color:#FFFFFF;
	clear:both;
	padding:10px 0px;
	text-align:center;
}





/* Estilos sección Quienes somos */
#quienes_somos{
    width:90%;
	max-width:1000px;
	margin:20px auto;
	text-align: center;
	font-size: 17px;
	background: rgba(0, 0, 0, 0.1);
}
.texto_primero{
  font-size: 72px;
  font-weight: bolder;
  padding-bottom: 5%;
  color: rgba(255, 255, 255, 0.8);
}
#cuadro_quienes_somos{
	position: absolute;
	overflow: hidden;
	width: 65%;
	height: 15%;
    background: rgba(0, 83, 54, 1);
	padding: 2%;
	border: gray 8px groove;
	margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;
}
#cuadro_quienes_somos:hover{
	color: white;
	background: rgba(0, 0, 0, 0.9);
	transition: 2s;
}
#cuadro_quienes_somos:hover .texto_primero{
	display:none;
}
#texto_quienes_somos{
	margin-top: 10%;
	transition:margin 2s;
}
#cuadro_quienes_somos:hover #texto_quienes_somos{
	margin-top: 0%;
}
#cuadro_mision{
    position: absolute;
	overflow: hidden;
	width: 65%;
	height: 15%;
	background: rgba(0, 83, 54, 1);
	padding: 2%;
	border: gray 8px groove;
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;
}
#cuadro_mision:hover{
	color: white;
	background: rgba(0, 0, 0, 0.9);
	transition: 2s;
}
#cuadro_mision:hover .texto_primero{
	display:none;
}
#titulo_mision{
	margin-left: -120%;
	transition:margin 2s;
}
#cuadro_mision:hover #titulo_mision{
	margin-left: 0%;
}
#texto_mision{
	margin-right: -390%;
	transition:margin 2s;
}
#cuadro_mision:hover #texto_mision{
	margin-right: 0%;
}
#cuadro_vision{
    position: absolute;
	overflow: hidden;
	width: 65%;
	height: 15%;
	background: rgba(0, 83, 54, 1);
	padding: 2%;
	border: gray 8px groove;
	margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;
}
#cuadro_vision:hover{
	color: white;
	background: rgba(0, 0, 0, 0.9);
	transition: 2s;
}
#cuadro_vision:hover .texto_primero{
	display:none;
}
#titulo_vision{
	margin-right: -120%;
	transition:margin 2s;
}
#cuadro_vision:hover #titulo_vision{
	margin-right: 0%;
}
#texto_vision{
	margin-left: -390%;
	transition:margin 2s;
}
#cuadro_vision:hover #texto_vision{
	margin-left: 0%;
}
.separacion{
	padding-top: 20%;
}